*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared item */
.display-flex{
  display: flex;
}

.navber-section,.banner-section,.about-section,.featured-section{
  width: 100%;
  
  background-color: #1A0B2E;
}


/* Header section */
.navbar{
  width: 75%;
  max-width:1200px ;
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding: 22px;
}

.nav-info ul{
gap: 32px;
}

.nav-info ul li{
list-style: none;
}

.nav-info ul li{
list-style: none;
gap: 32px;
}

.nav-info ul li a{
text-decoration: none;
color: white;
font-size: 1rem;
}

.btn{
  width:135px ;
  background: linear-gradient(45.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)) ;
  padding:12.5px ;
  color:white ;
  font-size: 1rem;
  font-weight:600 ;
  border-radius: 10000px;
  border: none;
  cursor: pointer;
}
.hamburger{
    display: none;}

/* banner-section */

.banner-section{
  border-top: 1px solid #351165;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 30px;
  margin: 0 auto;
  text-align: center;
  padding-top: 101px;
min-height: 100vh;
/* min-height: 750px; */
}



.banner{
  max-width: 550px;
width: 100%;
  text-align: center;
  margin: 0 auto;
  
}
.banner-img{
  position: relative;
  margin: 0 auto 40px;

}
.banner-img1 img{
  max-width:350px ;
  width: 100%;
  height: auto;
}
.banner-img2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  max-width: 105px ; width:100%;
}

.new{
  background-color:#00FF88 ;
  border-radius:1000px;
  font-size:1.1rem ;
  font-weight: 600;
  width: 75px;
  padding: 8px;
  border: none;
  box-shadow: 0 3px 27px 1px #00FF8850;
  animation: move 1.8s ease-in-out infinite;
  cursor: pointer;
}
@keyframes move{
  0%{
    transform:translateX(0);
  }
  50%{
    transform:translateX(6px);
  }
  100%{
    transform:translateX(0);
  }
}

.btn-new{
  position: absolute;
  top: 3%;
  right: 22%;
}
.banner-info h1{
  font-size: 3.75rem;
  font-weight:800 ;
color: white;
margin-bottom: 8px;
}
.banner-info p{
font-size: 1rem;
  font-weight: 400;
color: #FFFFFF80;
margin-bottom: 24px;
}
.banner-button{
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-2nd{
  width: 201px;
}
.btn-3rd{
  width: 147px;
  background: transparent;
  padding: 12.5px;
  border-radius: 10000px;
  border: 1px solid #00FF88;
  color: #00FF88;
  font-size:1rem ;
  font-weight: 600;
  cursor: pointer;
}

/* About section */
.about-section{
padding: 50px 0 120px;
}
.about{
  width: 75%;
  max-width:1200px ;
  text-align: center;
  margin: 0 auto;
  
}
.about-info{
  text-align: center;
  margin: 0 auto;
  
}
.about-info h2{
font-size: 3rem;
font-weight:700 ;
color:white ;
margin-bottom: 16px;
}
.about-info p{
font-size:1rem ;
font-weight:400 ;
color: #FFFFFF80;
line-height: 30px;
padding-bottom: 80px;
border-bottom: 1px solid #351165;
}
.about-ratings{
  padding-top: 80px;
  display: flex;
  justify-content:space-around;
  gap:80px ;
  text-align: center;
  margin: 0 auto;
}
.ratings h2{
  font-size:3rem ;
font-weight:700 ;
color: #00FF88;
}
.ratings p{
  font-size:1rem ;
font-weight:400 ;
color: #FFFFFF80;
}

/* Why choose sectionL */

.choose-section{
  width: 100%;
  background-color: #230E3D;
}

.why-choose{
 width: 75%;
  max-width:1200px ;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}

.why-choose h2{
  font-size: 3rem;
  font-weight: 700;
  color:white;
  margin-bottom: 40px;
}

/* Grid */
.grid{
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);
grid-auto-rows: minmax(220px, auto);
}
.medium-box{
  grid-row: span 2;  
}

.large-box{
  grid-column: span 2; 
}

/* Card */
.grid-box{
  background-color: #351165;
  border-radius: 40px;
  padding: 30px;
  text-align: left;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 12px;
  min-height: 100%;}

  .grid-box img{
  width: 44px;       
  height: 44px;
}
.grid-box h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.grid-box p{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF60;
  line-height: 24px;
  margin: 0;
}
/* Featured Episodes Section */
.episods-section{
  width: 75%;
  max-width:1200px ;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}
.episods h2{
  font-size:3rem ;
  font-weight:700 ;
  color: white;
}
.video-flex{
  justify-content: space-between;
  align-items: flex-start;
    gap: 30px;
  
  }

  .video{
    background-color: #250D44;
    margin-top: 40px;
    border: none;
    border-radius: 12px;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .video-media{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
  }
.video-media iframe{
  width: 100%;
  height: 100%;
}
.video h3{
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  margin: 16px;
}
.video p{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF60;
  margin: 0 16px 12px;
  line-height: 24px;
}
 .video .green{
   font-size: 1rem;
  font-weight: 400;
  color: #00FF88;
  margin-bottom: 16px;
  margin-left: 16px;
}

/* Host section */
.host-section{
  margin:120px 0 ;
}
.host-section h2{
  font-size:3rem ;
  font-weight:700 ;
  color: white;
  margin-bottom: 40px;
}

.host{
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  background-color: #351165;
  padding: 30px;
  border: none;
  border-radius: 40px;
}

.host-info{
  text-align: left;
}
.host-info h3{
   font-size:2rem ;
  font-weight:700 ;
  color: white;
  margin-bottom: 16px;
}
.host-info p{
   font-size:1rem ;
  font-weight:400 ;
  color:#FFFFFF60;
  margin-bottom: 16px;
  line-height: 24px;
}
.social-links{
  gap: 8px;
  margin-bottom: 25px;
  
}
.social-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #FFFFFF60;
 
}


/* footer-section */
.footer-section{
  
  background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 120px 120px 120px;
  text-align: center;
}

.footer-info{
 text-align: center;
 margin: 0 auto;
 width: min(90%,1200px);
}
.footer-info img{
  width: 400px;
  margin-bottom: 32px;
}
.footer-links{
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
}
.footer-links a{
  text-decoration: none;
  color: #FFFFFF60;
  font-size: 1rem;

}
.fa-brands,.fa-solid{
  color: white;
}
.footer-info p{

  color: #FFFFFF60;
  font-size: 1rem;
  margin-top: 32px;
}





/* responsive */
/* small device */
@media screen and (max-width:576px) {
  .nav-info ul{
display: none;
}
.btn{
 display: none; 
}
.hamburger{
  display: block;
  color: white;
  font-size: 24px;
}
.navbar{
  width: 100%;
  /* gap: 10px; */
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding:10px 40px ;
}

/* banner section */
.banner-section{
  background-size:100% auto;
  background-position: center 22%;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.banner-img1 img{
  max-width:230px ;
  width: 100%;
}
.banner-img2 img{
  width:70px;
}
.btn-new{
  right: 26%;
}
.banner-info h1{
  font-size: 2.90rem;
}
.banner-info p{
  text-align: center;
margin: 0 auto 24px;
max-width: 410px;
}
.btn-2nd{
  width: 201px;
  display: block;
}
.about-ratings{
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.about-info h2{
  font-size: 2.5rem}

.about-info p{
font-size:.8rem ;}

.ratings h2{
  font-size:2.5rem ;
}
.ratings p{
  font-size:.8rem ;
}
/* choose-section */
.why-choose{
    width: 90%;
    padding: 80px 0;
  }
  .why-choose h2{
  font-size: 2.5rem;
  
}
.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}
 
.medium-box,.large-box{
  grid-column: span 1;
  grid-row: span 1;
}

/* Episod section */
.episods-section{
  width: 90%;
  padding: 60px 0;
}

.episods h2{
  font-size:2.1rem ;
}
.video-flex{
    gap: 15px;
  
  }
.video-flex{
  flex-direction:column;
}
.video{
    margin-top: 20px;
  }
/* Host section */
.host-section{
  margin:70px 0 ;
}
.host-section h2{
  font-size:2.5rem ;
  margin-bottom: 20px;
}

.host{
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 30px;
}
.host-info{
  text-align: center;
}
.host-info h3{
   font-size:1.8rem ;
}
.host-info p{
   font-size:.9rem ;
}
.social-links{
  margin-bottom: 20px;
  justify-content: center;
}
/* footer-section */
.footer-section{
   
  min-height: 260px;
 background-image: url(assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center ;
  padding: 70px 0 ;
  text-align: center;
  
}

.footer-info{
 text-align: center;
 margin: 0 auto;
}
.footer-info img{
  width: 200px;
  margin-bottom: 20px;
}
.footer-links{
 text-align: center;
  display: grid;
  grid-template-columns: repeat(2,auto);
  
  gap: 5px 5px ;
}
.footer-links a{
  text-decoration: none;
  color: #FFFFFF60;
  font-size: .9rem;
}

.footer-info p{

  color: #FFFFFF60;
  font-size: .9rem;
  margin-top: 32px;
}
}




/* medium device */
@media screen and (min-width:577px) and (max-width:992px) {
  .nav-info ul{
display: none;
}
.navbar{
  width: 100%;
  /* gap: 10px; */
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding:10px 40px ;
}

/* banner section */
.banner-section{
  background-size: 110% auto;
  background-position: center 30px;
  min-height: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.banner-img1 img{
  max-width:300px ;
  width: 100%;
}
.banner-img2 img{
  width:100px;
}
.btn-new{
  right: 26%;
}
.banner-info h1{
  font-size: 3rem;
}
.banner-info p{
  text-align: center;
margin: 0 auto 24px;
max-width: 410px;
}
.btn-2nd{
  width: 201px;
  display: block;
}
.about-ratings{
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.about-info h2{
  font-size: 2.5rem}

.about-info p{
font-size:.8rem ;}

.ratings h2{
  font-size:2.5rem ;
}
.ratings p{
  font-size:.8rem ;
}

/* choose-section */
.why-choose{
    width: 90%;
    padding: 80px 0;
  }
  .why-choose h2{
  font-size: 2.5rem;
  
}
.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
 
.medium-box,.large-box{
  grid-column: span 1;
  grid-row: span 1;
}
/* episods-sectio */

.episods-section{
  width: 90%;
  padding: 60px 0;
}

.episods h2{
  font-size:2.8rem ;
}
.video-flex{
    gap: 15px;
  
  }
.video-flex{
  flex-direction:column;
}
.video{
    margin-top: 20px;
  }


}