*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared item */
.display-flex{
  display: flex;
}

.navber-section,.banner-section{
  width: 100%;
  
  background-color: #1A0B2E;
}


/* Header section */
.navbar{
  width: 100%;
  max-width:1200px ;
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding: 22px;
}

.nav-info ul{
gap: 32px;
}

.nav-info ul li{
list-style: none;
}

.nav-info ul li{
list-style: none;
gap: 32px;
}

.nav-info ul li a{
text-decoration: none;
color: white;
font-size: 1rem;
}

.btn{
  width:135px ;
  background: linear-gradient(45.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)) ;
  padding:12.5px ;
  color:white ;
  font-size: 1rem;
  font-weight:600 ;
  border-radius: 10000px;
  border: none;
}
.hamburger{
    display: none;}

/* banner-section */

.banner-section{
  border-top: 1px solid #351165;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 30px;
  margin: 0 auto;
  text-align: center;
  padding-top: 101px;
min-height: 100vh;
/* min-height: 750px; */
}
.banner{
  max-width: 550px;
width: 100%;
  text-align: center;
  margin: 0 auto;
  
}
.banner-img{
  position: relative;
  margin: 0 auto 40px;

}
.banner-img1 img{
  max-width:350px ;
  width: 100%;
  height: auto;
}
.banner-img2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  max-width: 105px ; width:100%;
}

.new{
  background-color:#00FF88 ;
  border-radius:1000px;
  font-size:1.1rem ;
  font-weight: 600;
  width: 75px;
  padding: 8px;
  border: none;
  box-shadow: 0 3px 27px 1px #00FF8850;
}

.btn-new{
  position: absolute;
  top: 3%;
  right: 22%;
}
.banner-info h1{
  font-size: 3.75rem;
  font-weight:800 ;
color: white;
margin-bottom: 8px;
}
.banner-info p{
font-size: 1rem;
  font-weight: 400;
color: white;
margin-bottom: 24px;
}
.banner-button{
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-2nd{
  width: 201px;
}
.btn-3rd{
  width: 147px;
  background: transparent;
  padding: 12.5px;
  border-radius: 10000px;
  border: 1px solid #00FF88;
  color: #00FF88;
  font-size:1rem ;
  font-weight: 600;
}




/* responsive */
/* small device */
@media screen and (max-width:576px) {
  .nav-info ul{
display: none;
}
.btn{
 display: none; 
}
.hamburger{
  display: block;
  color: white;
  font-size: 24px;
}
.navbar{
  width: 100%;
  /* gap: 10px; */
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding:10px 40px ;
}

/* banner section */
.banner-section{
  background-size:100% auto;;
  background-position: center 22%;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.banner-img1 img{
  max-width:230px ;
  width: 100%;
}
.banner-img2 img{
  width:70px;
}
.btn-new{
  right: 26%;
}
.banner-info h1{
  font-size: 2.90rem;
}
.banner-info p{
  text-align: center;
margin: 0 auto 24px;
max-width: 410px;
}
.btn-2nd{
  width: 201px;
  display: block;
}


}



/* medium device */
@media screen and (min-width:577px) and (max-width:992px) {
  .nav-info ul{
display: none;
}
.navbar{
  width: 100%;
  /* gap: 10px; */
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding:10px 40px ;
}

/* banner section */
.banner-section{
  background-size: 110% auto;
  background-position: center 30px;
  min-height: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.banner-img1 img{
  max-width:300px ;
  width: 100%;
}
.banner-img2 img{
  width:100px;
}
.btn-new{
  right: 26%;
}
.banner-info h1{
  font-size: 3rem;
}
.banner-info p{
  text-align: center;
margin: 0 auto 24px;
max-width: 410px;
}
.btn-2nd{
  width: 201px;
  display: block;
}

}