*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared item */
.display-flex{
  display: flex;
}

.navber-section,.banner-section,.about-section{
  width: 100%;
  
  background-color: #1A0B2E;
}


/* Header section */
.navbar{
  width: 75%;
  max-width:1200px ;
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding: 22px;
}

.nav-info ul{
gap: 32px;
}

.nav-info ul li{
list-style: none;
}

.nav-info ul li{
list-style: none;
gap: 32px;
}

.nav-info ul li a{
text-decoration: none;
color: white;
font-size: 1rem;
}

.btn{
  width:135px ;
  background: linear-gradient(45.64deg,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)) ;
  padding:12.5px ;
  color:white ;
  font-size: 1rem;
  font-weight:600 ;
  border-radius: 10000px;
  border: none;
}
.hamburger{
    display: none;}

/* banner-section */

.banner-section{
  border-top: 1px solid #351165;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 30px;
  margin: 0 auto;
  text-align: center;
  padding-top: 101px;
min-height: 100vh;
/* min-height: 750px; */
}



.banner{
  max-width: 550px;
width: 100%;
  text-align: center;
  margin: 0 auto;
  
}
.banner-img{
  position: relative;
  margin: 0 auto 40px;

}
.banner-img1 img{
  max-width:350px ;
  width: 100%;
  height: auto;
}
.banner-img2 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  max-width: 105px ; width:100%;
}

.new{
  background-color:#00FF88 ;
  border-radius:1000px;
  font-size:1.1rem ;
  font-weight: 600;
  width: 75px;
  padding: 8px;
  border: none;
  box-shadow: 0 3px 27px 1px #00FF8850;
  animation: move 1.8s ease-in-out infinite;
  cursor: pointer;
}
@keyframes move{
  0%{
    transform:translateX(0);
  }
  50%{
    transform:translateX(6px);
  }
  100%{
    transform:translateX(0);
  }
}

.btn-new{
  position: absolute;
  top: 3%;
  right: 22%;
}
.banner-info h1{
  font-size: 3.75rem;
  font-weight:800 ;
color: white;
margin-bottom: 8px;
}
.banner-info p{
font-size: 1rem;
  font-weight: 400;
color: #FFFFFF80;
margin-bottom: 24px;
}
.banner-button{
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-2nd{
  width: 201px;
}
.btn-3rd{
  width: 147px;
  background: transparent;
  padding: 12.5px;
  border-radius: 10000px;
  border: 1px solid #00FF88;
  color: #00FF88;
  font-size:1rem ;
  font-weight: 600;
}

/* About section */
.about-section{
padding: 50px 0 120px;
}
.about{
  width: 75%;
  max-width:1200px ;
  text-align: center;
  margin: 0 auto;
  
}
.about-info{
  text-align: center;
  margin: 0 auto;
  
}
.about-info h2{
font-size: 3rem;
font-weight:700 ;
color:white ;
margin-bottom: 16px;
}
.about-info p{
font-size:1rem ;
font-weight:400 ;
color: #FFFFFF80;
line-height: 30px;
padding-bottom: 80px;
border-bottom: 1px solid #351165;
}
.about-ratings{
  padding-top: 80px;
  display: flex;
  justify-content:space-around;
  gap:80px ;
  text-align: center;
  margin: 0 auto;
}
.ratings h2{
  font-size:3rem ;
font-weight:700 ;
color: #00FF88;
}
.ratings p{
  font-size:1rem ;
font-weight:400 ;
color: #FFFFFF80;
}

/* Why choose sectionL */

.choose-section{
  width: 100%;
  background-color: #230E3D;
}

.why-choose{
 width: 75%;
  max-width:1200px ;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}

.why-choose h2{
  font-size: 3rem;
  font-weight: 700;
  color:white;
  margin-bottom: 40px;
}

/* Grid */
.grid{
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);
grid-auto-rows: minmax(220px, auto);
}
.medium-box{
  grid-row: span 2;  
}

.large-box{
  grid-column: span 2; 
}

/* Card */
.grid-box{
  background-color: #351165;
  border-radius: 40px;
  padding: 30px;
  text-align: left;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 12px;
  min-height: 100%;}

  .grid-box img{
  width: 44px;       
  height: 44px;
}
.grid-box h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.grid-box p{
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF60;
  line-height: 24px;
  margin: 0;
}










/* responsive */
/* small device */
@media screen and (max-width:576px) {
  .nav-info ul{
display: none;
}
.btn{
 display: none; 
}
.hamburger{
  display: block;
  color: white;
  font-size: 24px;
}
.navbar{
  width: 100%;
  /* gap: 10px; */
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding:10px 40px ;
}

/* banner section */
.banner-section{
  background-size:100% auto;;
  background-position: center 22%;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.banner-img1 img{
  max-width:230px ;
  width: 100%;
}
.banner-img2 img{
  width:70px;
}
.btn-new{
  right: 26%;
}
.banner-info h1{
  font-size: 2.90rem;
}
.banner-info p{
  text-align: center;
margin: 0 auto 24px;
max-width: 410px;
}
.btn-2nd{
  width: 201px;
  display: block;
}
.about-ratings{
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.about-info h2{
  font-size: 2.5rem}

.about-info p{
font-size:.8rem ;}

.ratings h2{
  font-size:2.5rem ;
}
.ratings p{
  font-size:.8rem ;
}
/* choose-section */
.why-choose{
    width: 90%;
    padding: 80px 0;
  }
  .why-choose h2{
  font-size: 2.5rem;
  
}
.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
}
 
.medium-box,.large-box{
  grid-column: span 1;
  grid-row: span 1;
}
}




/* medium device */
@media screen and (min-width:577px) and (max-width:992px) {
  .nav-info ul{
display: none;
}
.navbar{
  width: 100%;
  /* gap: 10px; */
  justify-content:space-between ;
  align-items: center;
  margin: 0 auto;
  padding:10px 40px ;
}

/* banner section */
.banner-section{
  background-size: 110% auto;
  background-position: center 30px;
  min-height: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.banner-img1 img{
  max-width:300px ;
  width: 100%;
}
.banner-img2 img{
  width:100px;
}
.btn-new{
  right: 26%;
}
.banner-info h1{
  font-size: 3rem;
}
.banner-info p{
  text-align: center;
margin: 0 auto 24px;
max-width: 410px;
}
.btn-2nd{
  width: 201px;
  display: block;
}
.about-ratings{
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.about-info h2{
  font-size: 2.5rem}

.about-info p{
font-size:.8rem ;}

.ratings h2{
  font-size:2.5rem ;
}
.ratings p{
  font-size:.8rem ;
}

/* choose-section */
.why-choose{
    width: 90%;
    padding: 80px 0;
  }
  .why-choose h2{
  font-size: 2.5rem;
  
}
.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
 
.medium-box,.large-box{
  grid-column: span 1;
  grid-row: span 1;
}
}